@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir-demi";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

.header {
  background: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 7.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__nav {
  width: 100%;
}
.header__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__item, .header__item a {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-family: "Avenir";
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.header__item:hover, .header__item a:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  padding-bottom: 0.75rem;
}
.header__item--current {
  padding-bottom: 0.75rem;
  border-bottom: 4px solid #FFFFFF;
  font-weight: bold;
}
.header__item--inactive > a {
  color: #E1E1E1;
}

.main-container {
  padding: 0 1rem;
}

.hero-section {
  height: 10.5rem;
  background: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.hero-section__title {
  font-size: 1.5rem;
  font-family: "Avenir";
  color: #FFFFFF;
  padding-left: 1rem;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.main-section__title {
  font-size: 1.5rem;
  color: #323232;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
.main-section__img {
  height: 10rem;
  width: 100%;
}
.main-section__quote {
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir-demi";
  margin-top: 1rem;
  margin-bottom: 0;
}
.main-section__subquote {
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir-demi";
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
}
.main-section__subtitle {
  color: #323232;
  font-size: 0.875rem;
  font-family: "Avenir";
  margin-top: 0;
  margin-bottom: 1rem;
}
.main-section__layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-section__article {
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.photo-gallery {
  padding-top: 1.5rem;
}
.photo-gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir-demi";
  margin: 0;
  padding-bottom: 0.625rem;
}
.photo-gallery__layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.photo-gallery__img {
  width: 100%;
  height: 10rem;
}

.footer {
  padding-left: 1rem;
  background: #323232;
  width: 100%;
  margin-top: 1rem;
}
.footer__layout {
  display: flex;
  flex-direction: column;
}
.footer__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.footer__icon-layout {
  display: flex;
  gap: 2rem;
}
.footer__subtitle {
  font-size: 0.8125rem;
  color: #FFFFFF;
  padding: 1rem 0;
  margin: 0;
  line-height: 1.125rem;
}
.footer__text {
  font-size: 0.8125rem;
  color: #FFFFFF;
  margin: 0;
  line-height: 1.125rem;
}
.footer__text--email {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.footer__logo {
  width: 7.5rem;
  margin-top: 3rem;
  margin-bottom: 0.75rem;
}
.footer__copyright {
  margin: 0;
  font-size: 0.6875rem;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=bio.css.map */